
.mui-appbar {
    background-color: #2F2C44;
    color: #ffffff;
}

.top-logo {
    width: 200px;
    height: 152px;
}

.bottom-logo {
    width: 200px;
    text-align: center;
}

.img-responsive {
    max-width:100% !important;
    height:auto;
    display:block;
}

.img-responsive-footer {
    max-width:100% !important;
    height:auto;   !important;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.content-container{
    margin-left: -20px;
    margin-right: -20px;
}

.section-divider {
    height: 60px;
    background-color: #2F2C44;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    padding-top: 10px;
    font-weight: bold;
}

 .image {
     max-width: 1160px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     margin-bottom: 50px;
     -webkit-animation: fadein 3s;
     animation: fadein 3s;
     padding: 10px;
 }

.image-txt {
    position: absolute;
    font-size: 12px;
    font-style: italic;
    color: dimgray;
    padding-top: 4px;
}

.big-title-home {
    font-size: 5.5vw;
    line-height: 50px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}

@media (max-width: 750px){ .big-title-home {font-size: 40px;line-height: 46px;text-align:left;margin-top: 20px;margin-bottom: 40px;font-weight: bold}}
@media (max-width: 900px){ .big-title-home {font-size: 100px;line-height: 110px;text-align:left;margin-top: 20px;margin-bottom: 40px;font-weight: bold}}

.big-title {
    font-size: 4vw;
    line-height: 70px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
    font-weight: bold;
}

@media (max-width: 750px){ .big-title {font-size: 40px;line-height: 20px;text-align:center;margin-top: 30px;margin-bottom: 40px;font-weight: bold}}
@media (max-width: 900px){ .big-title {font-size: 60px;line-height: 60px;text-align:center;margin-top: 30px;margin-bottom: 40px;font-weight: bold}}


.row-text-content {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.mui-container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #2F2C44;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.bio-container {
    max-width: 1150px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.bio-text-container {
    font-size: 20px;
    margin-top: -32px;
}

.bio-sub-title {
    font-size: 28px;
    margin-top: -40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.blog-container {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.resume-proflie-container {
    text-align: center;
}

.resume-title {
    font-size: 4vw;
    line-height: 70px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

@media (max-width: 750px){ .resume-title {font-size: 40px;line-height: 20px;text-align:center;margin-top: 5px;margin-bottom: 10px;font-weight: bold}}
@media (max-width: 900px){ .resume-title {font-size: 60px;line-height: 60px;text-align:center;margin-top: 5px;margin-bottom: 10px;font-weight: bold}}

.resume-icons {
    padding: 10px;
}

.resume-container {
    max-width: 1150px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.resume-title-2 {
    font-size: 3vw;
    line-height: 70px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 24px;
    font-weight: bold;
}
@media (max-width: 750px){ .resume-title {font-size: 35px;line-height: 20px;text-align:center;margin-top: 5px;margin-bottom: 10px;font-weight: bold}}
@media (max-width: 900px){ .resume-title {font-size: 55px;line-height: 60px;text-align:center;margin-top: 5px;margin-bottom: 10px;font-weight: bold}}
